# Sales Analysis
### Import Necessary Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os

In [8]:
df = pd.read_csv('Sales_Data/Sales_April_2019.csv')
df.head(3)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"

### Merge multiple CSV files into a single file

In [11]:
files = [file for file in os.listdir('Sales_Data/')]
for file in files:
    print(file)

Sales_July_2019.csv
Sales_October_2019.csv
Sales_December_2019.csv
Sales_April_2019.csv
Sales_January_2019.csv
Sales_June_2019.csv
Sales_February_2019.csv
Sales_November_2019.csv
Sales_September_2019.csv
Sales_March_2019.csv
Sales_August_2019.csv
Sales_May_2019.csv